{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button> <span> No Account? <a href="{% url 'users:register' %}">Register Now</a> </span>
</form>

{% if messages %}
    {% for message in messages %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endblock content %}